<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="page">
    <header class="header">
        <h1 class="header__h1">PIXAVENUE</h1>
        <button class="header__searchIcon" type="button" title="Search" aria-label="Search">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
        <div class="header__searchBubble searchBubble">
            <button class="searchBubble__icon" type="button" title="Search" aria-label="Search">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
            <input class="searchBubble__input" type="text" placeholder="Enter your search...">
        </div>
        <p class="header__userName">Felicien</p>
        <button class="header__collectionBtn" title="Collection">Collection</button>
        <button class="header__collectionIcon" type="button" title="Collection" aria-label="Open collection">
            <i class="fa-regular fa-images"></i>
        </button>
        <button class="header__logOutBtn" type="button" title="Log out" aria-label="Log out">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
        </button>
        <div class="slidingSbubble slidingSbubble__hidden">
            <div class="searchBubble">
                <button class="searchBubble__icon" type="button" title="Search" aria-label="Search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
                <input class="searchBubble__input" type="text" placeholder="Enter your search...">
            </div>
            <button class="slidingSbubble__cross" type="button" title="Close" aria-label="Close search bubble">
                <i class="fa-solid fa-xmark" title="Close"></i>
            </button>
        </div>
        <div class="menu">
            <button class="menu__cross" type="button" aria-label="Close menu">
                <i class="fa-solid fa-xmark" title="close"></i>
            </button>
            <h2>Collections</h2>
            <menu>
                <li class="menuCell">Nature</li>
                <li class="menuCell">Cars</li>
                <li class="menuCell">Animals</li>
                <li class="menuCell">Art</li>
            </menu>
        </div>
    </header>
    <main id="container">
        <section class="banner">
            <div class="banner__overlay overlay ">
                <p class="banner__slogan">LET'S FIND THE INCREDIBLE</p>
                <p class="banner__advert">Free high quality pictures, by talented creators.</p>
            </div>
        </section>
        <section class="collections">
            <h2 class="collections__title">Create collections for your favorite images</h2>
            <ul class="collections__grid">
                <li class="collections__item">
                    <div class="overlay"><p class="itemTitle">Animals</p></div>
                </li>
                <li class="collections__item">
                    <div class="overlay "><p class="itemTitle">Art</p></div>
                </li>
                <li class="collections__item">
                    <div class="overlay"><p class="itemTitle">Peoples</p></div>
                </li>
                <li class="collections__item">
                    <div class="overlay"><p class="itemTitle">Nature</p></div>
                </li>
            </ul>
        </section>
        <section class="gallery">
            <h2 class="gallery__title">More than 1 million high quality images</h2>
            <div class="gallery__pictures">
                <div class="box">
                    <img loading="lazy" src=<%= require("../img/hibou.jpg")%>>
                    <ul class="iconBar">
                        <li class="iconBar__icon"><i class="fa-solid fa-expand"></i></li>
                        <li id="collectionIcon" class="iconBar__icon"><i class="fa-solid fa-heart"></i></li>
                        <li class="iconBar__icon"><i class="fa-solid fa-download"></i></li>
                    </ul>
                </div>
                <div class="box">
                    <img loading="lazy" src=<%= require("../img/pic2.jpg")%>>
                    <ul class="iconBar">
                        <li class="iconBar__icon"><i class="fa-solid fa-expand"></i></li>
                        <li class="iconBar__icon"><i class="fa-solid fa-heart"></i></li>
                        <li class="iconBar__icon"><i class="fa-solid fa-download"></i></li>
                    </ul>
                </div>
                <div class="box">
                    <img loading="lazy" src=<%= require("../img/roche.jpg")%>>
                    <ul class="iconBar">
                        <li class="iconBar__icon"><i class="fa-solid fa-expand"></i></li>
                        <li class="iconBar__icon"><i class="fa-solid fa-heart"></i></li>
                        <li class="iconBar__icon"><i class="fa-solid fa-download"></i></li>
                    </ul>
                </div>
                <div class="box">
                    <img loading="lazy" src=<%= require("../img/pic4.jpg")%>>
                    <ul class="iconBar">
                        <li class="iconBar__icon"><i class="fa-solid fa-expand"></i></li>
                        <li class="iconBar__icon"><i class="fa-solid fa-heart"></i></li>
                        <li class="iconBar__icon"><i class="fa-solid fa-download"></i></li>
                    </ul>
                </div>
                <div class="box">
                    <img loading="lazy" src=<%= require("../img/pic5.jpg")%>>
                    <ul class="iconBar">
                        <li class="iconBar__icon"><i class="fa-solid fa-expand"></i></li>
                        <li class="iconBar__icon"><i class="fa-solid fa-heart"></i></li>
                        <li class="iconBar__icon"><i class="fa-solid fa-download"></i></li>
                    </ul>
                </div>
                <div class="box">
                    <img loading="lazy" src=<%= require("../img/pic6.jpg")%>>
                    <ul class="iconBar">
                        <li class="iconBar__icon"><i class="fa-solid fa-expand"></i></li>
                        <li class="iconBar__icon"><i class="fa-solid fa-heart"></i></li>
                        <li class="iconBar__icon"><i class="fa-solid fa-download"></i></li>
                    </ul>
                </div>
                <div class="box">
                    <img loading="lazy" src=<%= require("../img/pic7.jpg")%>>
                    <ul class="iconBar">
                        <li class="iconBar__icon"><i class="fa-solid fa-expand"></i></li>
                        <li class="iconBar__icon"><i class="fa-solid fa-heart"></i></li>
                        <li class="iconBar__icon"><i class="fa-solid fa-download"></i></li>
                    </ul>
                </div>
                <div class="box">
                    <img loading="lazy" src=<%= require("../img/pic8.jpg")%>>
                    <ul class="iconBar">
                        <li class="iconBar__icon"><i class="fa-solid fa-expand"></i></li>
                        <li class="iconBar__icon"><i class="fa-solid fa-heart"></i></li>
                        <li class="iconBar__icon"><i class="fa-solid fa-download"></i></li>
                    </ul>
                </div>
                <div class="box">
                    <img loading="lazy" src=<%= require("../img/pic9.jpg")%>>
                    <ul class="iconBar">
                        <li class="iconBar__icon"><i class="fa-solid fa-expand"></i></li>
                        <li class="iconBar__icon"><i class="fa-solid fa-heart"></i></li>
                        <li class="iconBar__icon"><i class="fa-solid fa-download"></i></li>
                    </ul>
                </div>
                <div class="box">
                    <img loading="lazy" src=<%= require("../img/pic10.jpg")%>>
                    <ul class="iconBar">
                        <li class="iconBar__icon"><i class="fa-solid fa-expand"></i></li>
                        <li class="iconBar__icon"><i class="fa-solid fa-heart"></i></li>
                        <li class="iconBar__icon"><i class="fa-solid fa-download"></i></li>
                    </ul>
                </div>
                <div class="box">
                    <img loading="lazy" src=<%= require("../img/pic11.jpg")%>>
                    <ul class="iconBar">
                        <li class="iconBar__icon"><i class="fa-solid fa-expand"></i></li>
                        <li class="iconBar__icon"><i class="fa-solid fa-heart"></i></li>
                        <li class="iconBar__icon"><i class="fa-solid fa-download"></i></li>
                    </ul>
                </div>
                <div class="box">
                    <img loading="lazy" src=<%= require("../img/pic12.jpg")%>>
                    <ul class="iconBar">
                        <li class="iconBar__icon"><i class="fa-solid fa-expand"></i></li>
                        <li class="iconBar__icon"><i class="fa-solid fa-heart"></i></li>
                        <li class="iconBar__icon"><i class="fa-solid fa-download"></i></li>
                    </ul>
                </div>
                <div class="box">
                    <img loading="lazy" src=<%= require("../img/pic13.jpg")%>>
                    <ul class="iconBar">
                        <li class="iconBar__icon"><i class="fa-solid fa-expand"></i></li>
                        <li class="iconBar__icon"><i class="fa-solid fa-heart"></i></li>
                        <li class="iconBar__icon"><i class="fa-solid fa-download"></i></li>
                    </ul>
                </div>
                <div class="box">
                    <img loading="lazy" src=<%= require("../img/pic14.jpg")%>>
                    <ul class="iconBar">
                        <li class="iconBar__icon"><i class="fa-solid fa-expand"></i></li>
                        <li class="iconBar__icon"><i class="fa-solid fa-heart"></i></li>
                        <li class="iconBar__icon"><i class="fa-solid fa-download"></i></li>
                    </ul>
                </div>
                <div class="box">
                    <img loading="lazy" src=<%= require("../img/pic15.jpg")%>>
                    <ul class="iconBar">
                        <li class="iconBar__icon"><i class="fa-solid fa-expand"></i></li>
                        <li class="iconBar__icon"><i class="fa-solid fa-heart"></i></li>
                        <li class="iconBar__icon"><i class="fa-solid fa-download"></i></li>
                    </ul>
                </div>
                <div class="box">
                    <img loading="lazy" src=<%= require("../img/pic16.jpg")%>>
                    <ul class="iconBar">
                        <li class="iconBar__icon"><i class="fa-solid fa-expand"></i></li>
                        <li class="iconBar__icon"><i class="fa-solid fa-heart"></i></li>
                        <li class="iconBar__icon"><i class="fa-solid fa-download"></i></li>
                    </ul>
                </div>
                <div class="box">
                    <img loading="lazy" src=<%= require("../img/pic17.jpg")%>>
                    <ul class="iconBar">
                        <li class="iconBar__icon"><i class="fa-solid fa-expand"></i></li>
                        <li class="iconBar__icon"><i class="fa-solid fa-heart"></i></li>
                        <li class="iconBar__icon"><i class="fa-solid fa-download"></i></li>
                    </ul>
                </div>
           </div>
        </section>
    </main>
    <footer class="footerUp">© 2024 Felicien Amafin</footer>
</body>