.closingCross {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.125rem;
    color:var(--white);
    cursor: pointer;
    background-color: transparent;
    border: none;
    &:hover{ color: var(--lightGray); }
}