.formTab {
    width: 100%;
    min-height: 60px;
    border-radius: 10px;
    font-weight: 400;
    font-size: 0.875rem;
    border: 1px solid var(--form-tab);
    @include breakpoint(medium) { font-size: 1rem; }
    &__error { border: 1px solid var(--error);}
}