.formMenu {
    @include flexRowCenter;
    width: 100%;
    justify-content: center;
    border-radius: 10px;
    li { 
        @include flexRowCenter;
        padding: 12px; 
        list-style: none;
        text-align: center;
        font-weight: 400;
    }
    li:hover { 
        cursor: pointer;
    }
    li:nth-child(1) { border-radius: 10px 0 0 10px;}
    li:nth-child(2) { 
        border-radius: 0 10px 10px 0; 
    }
    .selected {
        color: var(--black);
        background-color: var(--menuTabSelected);
    }
    .select {
        color: var(--white);
        &:hover {
            background-color: var(--menuTabSelect);
        }
    }
}