.formModal {
    @include flexColumnCenter;
    position: fixed;
    z-index: 800000;
    &--transparentBlack { background-color: var(--black-Transparent); }
    &--black { background-color: var(--black); }
    &--visible { inset: 0 0 0 0; }
}
