.formWindow {
    @include flexColumn;
    align-items: center;
    width: 100%;
    max-width: 500px;
    height: auto;
    scale: 0.8 0.8;
    gap: 70px;
    padding: 50px 40px; 
    border-radius: 10px;
    overflow-y: auto;
    background-color: var(--black);
    box-shadow: 1px 1px 15px 2px rgb(78, 77, 77); 
    @include breakpoint(large) { scale: 0.75 0.75;}
    &__title { 
        color: var(--formWindow-title); 
        font-size: 1.125rem;
        font-weight: 600;
        text-transform: uppercase;
    }
    &__flex {
        width: 100%;
        @include flexColumnCenter;
        gap: 20px;
    }
}
.formWindow::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.formWindow::-webkit-scrollbar-thumb {
background: grey;
border-radius: 5px;
}
.formWindow::-webkit-scrollbar-button {
background-color: var(--lightGray);
border-radius: 3px;
}
 