.formWindow {
    @include flexColumn;
    align-items: center;
    width: 100%;
    max-width: 500px;
    height: auto;
    scale: 0.9 0.9;
    gap: 70px;
    padding: 50px 40px; 
    border-radius: 10px;
    overflow-y: auto;
    background-color: var(--black);
    border: 1px solid var(--formWindow-border);
    @include breakpoint(large) { scale: 0.8 0.8;}
    &__title { 
        color: var(--formWindow-title); 
        font-size: 1.125rem;
        font-weight: 600;
    }
}
    