.menuCell {
    @include flexRow;
    width: 100%;
    height: auto;
    padding: 16px;
    list-style: none;
    text-align: center;
    cursor: pointer;
    font-weight: 400;
    font-size: 0.875rem;
    color: var(--menuCellText);
    margin-bottom: 14px;
    border-radius: 4px;
    @include breakpoint(medium) { font-size: 1rem;}
    &:hover { background-color: var(--menuCellHover); }
    &:hover &__icon { visibility: visible; }
    &:hover &__text { color: var(--white); }
    &__text {
        width: 90%;
        text-align: center;
    }
    &__icon {
        width: 10%;
        text-align: center;
        visibility: hidden;
        &:hover { color: var(--white); }
    }
}