.collections {
    width: 100%;
    height: auto;
    gap: 40px;
    padding: 70px 40px 0 40px;
    margin: auto;
    background-color: var(--black);
    @include flexColumnCenter;
    @include breakpoint(x-large) {
        padding: 115px 20px 0 20px;
        gap: 50px;
    }
    &__title { @include h2; }
    &__grid {
        display: grid;
        width: 100%;
        max-width: 1100px;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
        @include breakpoint(small) { grid-template-columns: repeat(4, 1fr); }
        @include breakpoint(x-large) { gap: 25px; }
    }
    &__item {
        height: 150px;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 15px;
        overflow: hidden;
        &:nth-child(1) { background-image: url('/src/img/lion.jpg'); }
        &:nth-child(2) { background-image: url('/src/img/art.jpg'); }
        &:nth-child(3) { background-image: url('/src/img/portrait.jpg'); }
        &:nth-child(4) { background-image: url('/src/img/nature.jpg'); }
        .itemTitle {
            color: var(--whitesmoke);
            text-transform: uppercase;
            font-weight: 600;
            font-size: 1rem;
            @include breakpoint(x-large) { font-size: 1.125rem; }
        }
        .overlay {
            @include flexRowCenter;
            width: 100%;
            height: 100%;
            background-color: var(--collItems-overlay);
        }
    }
}
